body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.navBar {
  overflow: hidden;
  background-color: #e9e9e9;
  list-style: none;
  text-align: right;
}
.navBar li {
  display: inline-block;
}
.navBar li:first-child {
  float: left;
}
.navBar li a,
.navBar li button {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background: none;
  outline: none;
  border: 0;
}
.homePage ul {
  list-style: none;
}

.planetCard {
  margin-top: 15px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.48);
  padding: 2px 7px;
}

.homePage .input-group {
  width: 100%;
}
.homePage .clearIcon {
  position: absolute;
  cursor: pointer;
  padding: 10px;
  right: 0;
  z-index: 999;
  background: #000;
  color: #fff;
}
.planetDetail {
  display: block;
  padding: 10px 0;
  font-size: 14px;
}
